<section>
<div class="container">
  <h2> Explore</h2>
	<div class="row">
  <div class="col-md-3">
   <div class="card" >
    <div class="card-body">
     <p class="card-text">Unconventional Career</p>
    </div>
   </div>
  </div>
    <div class="col-md-3">
   <div class="card">
    <div class="card-body">
     <p class="card-text">Foreign Universities</p>
    </div>
   </div>
  </div>
    <div class="col-md-3">
   <div class="card" >
    <div class="card-body">
     <p class="card-text">Personal Excellence</p>
    </div>
   </div>
  </div>
  <div class="col-md-3">
   <div class="card" >
    <div class="card-body">
     <p class="card-text">Professional Careers</p>
    </div>
   </div>
  </div>
    </div>
</div>
</section>

 <div class="row">
  <div class=col-sm-4>
  <div class="card">
  <div class="card-body">
    Find inspiration to begin your journey
  </div>
  </div>
  </div>
  <div class=col-sm-4>
  <div class="card">
  <div class="card-body">
    Connect with others on their journey.
  </div>
</div>
</div>
<div class=col-sm-4>
<div class="card">
  <div class="card-body">
   Become the leader you wish you had.
  </div>
</div>
</div>

    </div>


    <img src="../static/image/{{post.name}}/{{post.image}}" class="rounded-circle" style="width:20px; height: 20px" alt="...">