{% extends "extend.html" %}

{% block content_block %}
<div class="space"></div>
<div class="space"></div>
<div class="container">
	<h4> New category</h4>

 <form method='post' role="form"  enctype = "multipart/form-data">

  

  <div class="form-group row">
    <div class="col-sm-12">
      <input type="text" class="form-control" name="category_name" placeholder="Category Name">
    </div>
  </div>

<div class="form-group row">
    <div class="col-sm-12">
      <input type="text" class="form-control" name="description" placeholder="Description">
    </div>
  </div>
  

    <div class="form-group row">
    <div class="col-sm-12">
       <input type = "hidden" name = "key" value="thinklearnlead" />
       <input type = "file" name = "image" accept="image/*" onchange="loadFile(event)"/>
    </div>
  </div>
  <div class="col-sm-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
 </form>
</div>
{% endblock %}